.gameNavContainer {
  display: flex;
}
.dicesContainer {
    display: flex;
    width: 80%;
}
.currentCarStats {
 width: 20%;
 overflow: hidden;
}
.dice-wrapper {
    position: relative;
    display: block;
    width: 16.6666666667%;
    height: 155px;
    overflow: hidden;
    user-select: none;
    background: #c8c9c9;
    border-right: 1px solid #eaeaea;
    border-radius: 20px;
    margin-right: 1px;
    background: #007bff63;
}
.diceNamesContainer {
  display: flex;
  width: 80%;
}
.diceName {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: #ffffff69;
}
.dice-container {
  display: block;
  position: absolute;
  width: 82px;
  height: 82px;
  border-radius: 10px;
  background-color: #fff; 
  z-index: 0; 
  animation-direction: forwards;
  animation-iteration-count: 5;
  /* animation-play-state: paused; 
  animation-name: spin; */
  animation: spin 0.1s infinite paused;
  box-shadow: 0 0 10px -2px grey;
}
.dice {
	font-size: 55px;
	width: 100%;
	height: 100%;
	text-align: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  box-shadow: 0 0 13px -3px #000;
  border-radius: 8px;
}
.dice1 {
  background-image: url('/Images/dice/1.png');
}
.dice2 {
  background-image: url('/Images/dice/2.png');
}
.dice3 {
  background-image: url('/Images/dice/3.png');
}
.dice4 {
  background-image: url('/Images/dice/4.png');
}
.dice5 {
  background-image: url('/Images/dice/5.png');
}
.dice6 {
  background-image: url('/Images/dice/6.png');
}

@keyframes spin {
  0% {
    position: absolute;
    transform: rotate(0deg);
    margin: 25px 0 0 25%;
  }
  10% {
    position: absolute;
    transform: rotate(36deg);
    margin: 40px 0 0 25%;
  }
  20% {
    position: absolute;
    transform: rotate(72deg);
    margin: 30px 0 0 25%;
  }
  30% {
    position: absolute;
    transform: rotate(108deg);
    margin: 20px 0 0 25%;
  }
  40% {
    position: absolute;
    transform: rotate(144deg);
    margin: 30px 0 0 25%;
  }
  50% {
    position: absolute;
    transform: rotate(180deg);
    margin: 40px 0 0 25%;
  }
  60% {
    position: fixed;
    transform: rotate(216deg);
    margin: 30px 0 0 25%;
  }
  70% {
    position: absolute;
    transform: rotate(252deg);
    margin: 20px 0 0 25%;
  }
  80% {
    position: absolute;
    transform: rotate(288deg);
    margin: 30px 0 0 25%;
  }
  90% {
    position: absolute;
    transform: rotate(334deg);
    margin: 40px 0 0 25%;
  }
  100% {
    position: absolute;
    transform: rotate(359deg);
    margin: 30px 0 0 25%;
  }
}

/* MOBILE DICE */
@media only screen and (max-width: 1280px) {
  .dice-container {
    width: 64px;
    height: 64px;
  }
  .dice-wrapper {
    width: 16.6666666667%;
    height: 100px;
    border-radius: 10px;
  }

  @keyframes spin {
    0% {
      position: absolute;
      transform: rotate(0deg);
      margin: 10px 0 0 27%;
    }
    10% {
      position: absolute;
      transform: rotate(36deg);
      margin: 25px 0 0 27%;
    }
    20% {
      position: absolute;
      transform: rotate(72deg);
      margin: 15px 0 0 27%;
    }
    30% {
      position: absolute;
      transform: rotate(108deg);
      margin: 5px 0 0 27%;
    }
    40% {
      position: absolute;
      transform: rotate(144deg);
      margin: 15px 0 0 27%;
    }
    50% {
      position: absolute;
      transform: rotate(180deg);
      margin: 25px 0 0 27%;
    }
    60% {
      position: fixed;
      transform: rotate(216deg);
      margin: 15px 0 0 27%;
    }
    70% {
      position: absolute;
      transform: rotate(252deg);
      margin: 5px 0 0 27%;
    }
    80% {
      position: absolute;
      transform: rotate(288deg);
      margin: 15px 0 0 27%;
    }
    90% {
      position: absolute;
      transform: rotate(334deg);
      margin: 30px 0 0 27%;
    }
    100% {
      position: absolute;
      transform: rotate(359deg);
      margin: 20px 0 0 27%;
    }
  }
}

@media (max-width: 768px) { 
  .dicesContainer {
    flex-wrap: wrap; 
  }
  .dice-wrapper {
    width: 33%;
  }
}

.selectedCarImage {
  width: 100px;
  position: absolute;
  margin-top: -180px;
  margin-left: 10px;
}
.treesImage {
  width: 100%;
  height: 80px;
  background-image: url('/Images/tree2.png');
  background-repeat: repeat;
  background-size: cover;
  border-radius: 10px;
}

.roadImage {
  width: 100%;
  height: 200px;
  background-image: url('/Images/road.png');
  background-repeat: repeat-x;
  background-size: cover;
  border-radius: 10px;
}
@keyframes moveRoad {
  0% { background-position: 0 0; }
  100% { background-position: -1000px 0; }
}
.animate {
  animation: moveRoad 2s linear infinite;
}



.distanceTravelled {
  position: absolute;
  color: #fff;
  font-weight: bold;
  margin-top: -180px;
}
